@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
}

input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  cursor: pointer;
  color: #00494d;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.wrapper {
  grid-template-rows: 9rem auto;
}
@media (min-width: 41rem) {
  .wrapper {
    grid-template-columns: minmax(0, 41rem);
    height: 100vh;
    justify-content: center;
  }
}
@media (min-width: 67rem) {
  .wrapper {
    grid-template-columns: minmax(0, 65rem);
    align-content: center;
  }
}

.section-title {
  color: #5e7a7d;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.input-container {
  height: 3.125rem;
  display: flex;
  align-items: center;
  background-color: #f4fafa;
  padding-inline: 1.25rem;
}
.input-container img {
  height: 1rem;
}
.input-container input {
  height: 100%;
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
}

header {
  align-self: center;
  justify-self: center;
}

main {
  background-color: white;
  border-radius: 1.6rem;
  padding: 2.5rem 2rem 2rem 2rem;
}

.main-content {
  gap: 2rem;
}
@media (min-width: 67rem) {
  .main-content {
    grid-template-columns: 1fr 1fr;
  }
}
.main-content__left {
  gap: 2rem;
}
.main-content__left .bill .input-container:hover, .main-content__left .bill .input-container:focus-within {
  border: 3px solid #26c0ab;
  border-radius: 5px;
}
.main-content__left .tip .buttons {
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  gap: 1rem;
}
.main-content__left .tip .buttons > *:not([type=text]) {
  background-color: #00494d;
  font-size: 1.5rem;
  color: white;
  padding: 0.75rem 0;
}
.main-content__left .tip .buttons > *:not([type=text]):hover, .main-content__left .tip .buttons > *:not([type=text]):focus {
  background-color: #26c0ab;
  color: #00494d;
}
.main-content__left .tip .buttons input:last-child {
  background-color: #f4fafa;
  text-align: right;
  text-transform: capitalize;
  font-weight: 700;
  padding-right: 1rem;
}
.main-content__left .tip .buttons input:last-child:hover, .main-content__left .tip .buttons input:last-child:focus-within {
  border: 3px solid #AADDD7;
  border-radius: 5px;
}
.main-content__left .tip .buttons .button__active {
  background-color: #26c0ab;
  color: #00494d;
}
.main-content__left .num-people .alert {
  border: 3px solid #880808;
  border-radius: 5px;
}
.main-content__right {
  background-color: #00494d;
  color: white;
  font-weight: 700;
  border-radius: 1.6rem;
  padding: 2.5rem 1.5rem 1.5rem;
  gap: 2rem;
}
@media (min-width: 67rem) {
  .main-content__right {
    gap: 0;
    padding-bottom: 0.5rem;
  }
}
.main-content__right .total {
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 67rem) {
  .main-content__right .total {
    align-items: flex-start;
  }
}
.main-content__right .total p:nth-child(1) span:last-child {
  color: #7f9c9f;
  font-weight: 400;
}
.main-content__right .total p:nth-child(2) {
  font-size: 2rem;
  color: #26c0ab;
  font-weight: 700;
}
.main-content__right .reset-btn {
  align-self: center;
}
.main-content__right .reset-btn input {
  background-color: #0d696e;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.main-content__right .reset-btn .activated {
  background-color: #26c0ab;
}
.main-content__right .reset-btn .hover {
  background-color: #AADDD7;
}