$clr-active: hsl(172, 67%, 45%);
$clr-bgCyan: hsl(183, 100%, 15%);
$clr-fontCyan: hsl(186, 14%, 43%);
$clr-fontCyanLighter: hsl(184, 14%, 56%);
$clr-body: hsl(185, 41%, 84%);
$clr-bgInput: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$clr-hover: #AADDD7;

$ff: 'Space Mono', monospace;
$fontSizeInput: 1.5rem;
$fw-400: 400;
// $fw-500: 500;
$fw-700: 700;

$border-radius: 1.6rem;